<h1>Different SVG Shapes</h1>

<div class="col-sm-12">
  <div class="col-sm-4">
    <h3>Ring</h3>
    <svg height="100" width="300">
      <rect width="300" height="100" style="fill:rgb(0,0,255);"/>
      <circle cx="150" cy="50" r="50" style="fill:yellow" />
      <circle cx="150" cy="50" r="30" style="fill:rgb(0,0,255);" />
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
  <div class="col-sm-4">
    <h3>Rectangle inside a circle</h3>
    <svg height="100" width="300">
      <circle cx="150" cy="50" r="50" style="fill:yellow" />
      <rect x="125" y="25" width="50" height="50" style="fill:rgb(0,0,255);stroke-width:2;stroke:rgb(0,0,0)" />
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
  <div class="col-sm-4">
    <h3>Circle inside a Rectangle</h3>
    <svg height="100" width="300">
      <rect x="0" y="0" width="300" height="100" style="fill:rgb(0,0,255);stroke-width:0;stroke:rgb(0,0,0)" />  
      <circle cx="150" cy="50" r="49" style="fill:yellow" />
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-4">
    <h3>Triangle on a rectangle</h3>
    <svg height="300" width="200">
      <polygon points="100,0 0,150 200,150" style="fill:lime;stroke:purple;stroke-width:1" />
      <rect x="0" y="150" width="200" height="150" style="fill:rgb(0,0,255);stroke-width:0;stroke:rgb(0,0,0)" />  
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
</div>