@keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}

@keyframes moveLinear
{
    from{float: left;}
    to{float: right;}
}

#main-logo{
    animation-name: moveLinear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#main-logo img{
    width: 150px;
}

.main-content{
    border-left: 1px solid #000;
    /* height: stretch; */
    margin-bottom: 30px;
}

.navigation{    
    position: fixed;
    right: 0;
    margin-right: 15px;
    overflow-y: auto;
    background: #f1eded;
    padding: 15px 0;
}