<h1>Intro to SVG Charts</h1>
<div>
  <svg class="chart" width="420" height="120">
      <g transform="translate(0,0)">
          <rect width="50" height="19"></rect>
          <text x="47" y="9.5" dy=".35em">5</text>
      </g>
      <g transform="translate(0,20)">
          <rect width="100" height="19"></rect>
          <text x="97" y="9.5" dy=".35em">10</text>
      </g>
      <g transform="translate(0,40)">
          <rect width="120" height="19"></rect>
          <text x="117" y="9.5" dy=".35em">12</text>
      </g>
  </svg>
</div>
<div>
  <button class="btn btn-default" (click)="svgBarWithD3()">Create SVG with D3</button>
</div>
<div id="scales"></div>