<h2>D3 Principles</h2>
<p>Embedded within an HTML webpage, the JavaScript D3.js library uses pre-built JavaScript functions to select elements, create SVG objects, style them, or add transitions, dynamic effects or tooltips to them. These objects can also be widely styled using CSS. Large datasets can be easily bound to SVG objects using simple D3.js functions to generate rich text/graphic charts and diagrams. The data can be in various formats, most commonly JSON, comma-separated values (CSV) or geoJSON, but, if required, JavaScript functions can be written to read other data formats.</p>
<div class="col-sm-12">
    <h3>Selections</h3>
    <p>
      The central principle of D3.js design is to enable the programmer to first use a CSS-style selector to select a given set of Document Object Model (DOM) nodes, then use operators to manipulate them in a similar manner to jQuery.
    </p>
    <code>
        <p>d3.selectAll("p")                 // select all p elements</p>
        <p>.style("color", "lavender")     // set style "color" to value "lavender"</p>
        <p>.attr("class", "squares")       // set attribute "class" to value "squares"</p>
        <p>.attr("x", 50);                 // set attribute "x" (horizontal position) to value 50px</p>
    </code>
    <p>
        The selection can be based on tag (as in the above example), class, identifier, attribute, or place in the hierarchy. Once elements are selected, one can apply operations to them. This includes getting and setting attributes, display texts, and styles (as in the above example). Elements may also be added and removed. This process of modifying, creating and removing HTML elements can be made dependent on data, which is the basic concept of D3.js.
    </p>
</div>
<div class="col-sm-12">
  <h3>Transitions</h3>
  <p>By declaring a transition, values for attributes and styles can be smoothly interpolated over a certain time. The following code will make all HTML p elements on a page gradually change their text color to pink:</p>
  <code>
    <p>d3.selectAll("p")             // select all p elements</p>
      <p>.transition("trans_1")      // transition with name "trans_1"</p>
      <p>.delay(0)                 // transition starting 0ms after trigger</p>
      <p>.duration(500)            // transitioning during 500ms</p>
      <p>.ease("linear")           // transition easing progression is linear...</p>
      <p>.style("color", "pink");    // ... to color:pink</p>
  </code>
</div>
<div class="col-sm-12">
  <h3>Data-binding</h3>
  <p>For more advanced uses, loaded data drives the creation of elements. D3.js loads a given dataset, then, for each of its elements, creates an SVG object with associated properties (shape, colors, values) and behaviors (transitions, events).</p>
  <code>
    <p>var countriesData = [
        ( name:"Ireland",  income:53000, life: 78, pop:6378, color: "black"),
        ( name:"Norway",   income:73000, life: 87, pop:5084, color: "blue" ),
        ( name:"Tanzania", income:27000, life: 50, pop:3407, color: "grey" )
     ];</p>
     <p>var svg = d3.select("#hook").append("svg")
        .attr("width", 120)
        .attr("height", 120)
        .style("background-color", "#D0D0D0");</p>
      <p>svg.selectAll("circle")                  // create virtual circle template</p>
      <p>.data(countriesData)                   // bind data</p>
      <p>.enter()                                 // for each row in data...</p>
      <p>.append("circle")                      // bind circle &amp; data row such that... </p>
      <p>.attr("id", function(d) ( return d.name ))            // set the circle's id according to the country name</p>
  </code>
</div>