/* You can add global styles to this file, and also import other style files */
body{
    color: #000;
    background-color: #fafafa;
}

h1{
    background: linear-gradient(#b7c1cc, #e2e7e8);
    margin-top: 0;
    padding: 15px;
}

svg{
    background: #efefef;
    border: 1px solid #5f5f5f;
}