<h1 class="text-center">D3.js Tutorial</h1>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> 
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
          </button> 
          <!-- <a href="#" class="navbar-brand">D3</a>  -->
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Table of Contents</a></li>
            <li><a href="#examples">Examples</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="table-of-contents">
      <ul>
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#svg">SVG objects</a></li>
        <li><a href="#drawing-shapes">Drawing shapes</a></li>
        <li><a href="#principles">D3 principles</a></li>
        <li><a href="#selections">selections</a></li>
        <li><a href="#manipulating-selections">Manipulating selections</a></li>
        <li><a href="#binding-data">Binding & Displaying Data</a></li>
        <li><a href="#load-ext-data">Loading data externally</a></li>
        <li><a href="#animations">Animations</a></li>
        <li><a href="#interactivity">Interactivity</a></li>
        <li><a href="#scales">Scales</a></li>
        <li><a href="#axes">Axes</a></li>
        <li><a href="#intro-to-charts">Intro to Charts</a></li>
        <li><a href="#bar-chart">Building a Bar Chart</a></li>
        <li><a href="#labels">Adding labels</a></li>
        <li><a href="#line-chart">Building a line Chart</a></li>
        <li><a href="#pie-chart">Building a Pie chart</a></li>
        <li><a href="#donut">Building a donut</a></li>
        <li><a href="#geojson">GeoJSON overview</a></li>
        <li><a href="#map">Map and projections</a></li>
        <li><a href="#panning-dragging">Panning and dragging a map</a></li>
        <li><a href="#zooming">Zooming</a></li>
        <li><a href="#best-practices">Best Practices and Overview of D3 V4 Modules</a></li>
      </ul>
    </section>
